html,
body {
	height: 100%;
}
h1 {
	padding-bottom:20px;
}
hr {
	margin: 12px 0;
	border-color: rgb(153,185,255);
}
ctrlH {
	font-size:160%;

}
.description {
	color:dimgray;
	padding: 5px 10px;
	font-style: italic;
}
.inline {
	display: inline-block;
	vertical-align: top;
	padding-left: 0px;
}
.well {
	background-color: rgb(203,235,255);
}
.container-fluid {
   min-height:100%;
   position:relative;
   padding-bottom: 75px;
}
.form-group {
	padding-bottom:0;
	margin-bottom:0;
}
.selectize-control {
	margin-bottom:0;
}
.shiny-file-input-progress {
	display: none;
}


.myTooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.myTooltip .myTooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #666;
    color: #fff;
    text-align: left;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 100;
    bottom: 120%;
    left: 100%;
    margin-left: -50%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.myTooltip .myTooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.myTooltip:hover .myTooltiptext {
    visibility: visible;
    opacity: 1;
}



#scatterPlotButton {
	margin: 0 auto;
}
#coveragePlot {
	margin: 20px 0 20px 0;
}
#outlierInfo {
	margin: 0.5cm 0.5cm;
}
#autoNormDiv,
#maNormDiv {
	margin-top: 1cm;
}
#plotSideTcourse .checkbox {
	margin-top: 5px;
	margin-bottom: 5px;
}
.footer {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0f9ff+0,cbebff+48,a1dbff+100 */
background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 48%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 48%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 48%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
	height: 50px;
	position:absolute;
	bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    padding: 0 auto;
    color: #555;
}
